$lightest-gray: #efefef;
$light-gray: #cccccc;
$medium-gray: #999999;
$dark-gray: #333333;

body{
  font-family: helvetica, arial, sans-serif;
  background: $lightest-gray;
  color: $dark-gray;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #ffffff;
  &:hover{
    color: #000000;
  }
}

header, main, footer{
  padding: 10px 30px 10px 30px;
  margin: 10px auto 10px auto;
  max-width: 1000px;
  background-color: $light-gray;
}

header{
  a{
    font-size: 16px;
    display: inline-block;
    margin-right: 20px;
  }
}

.item-buttons label{
  background: $medium-gray;
  color: #ffffff;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  &.checked{
    color: $medium-gray;
    background: #ffffff;
  }
}

.map{
  padding: 20px 0 50px 0;
}

#map{
  display: block;
  margin: 0 auto 0 auto;
  width: 90%;
  height: 400px;
}

footer{
  font-size: 12px;
  background-color: $medium-gray;
}