/* line 1, ../sass/styles.scss */
body {
  background: #efefef;
  color: #333333;
  font-size: 12px;
}

/* line 7, ../sass/styles.scss */
header {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  background-color: #cccccc;
}

/* line 13, ../sass/styles.scss */
main {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  background-color: #cccccc;
}

/* line 19, ../sass/styles.scss */
.map {
  padding: 20px 0 50px 0;
}

/* line 23, ../sass/styles.scss */
#map {
  display: block;
  margin: 0 auto 0 auto;
  width: 90%;
  height: 400px;
}

/* line 30, ../sass/styles.scss */
footer {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  font-size: 10px;
  background-color: #999999;
}
/* line 35, ../sass/styles.scss */
footer p {
  padding: 15px;
}
